/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 30, 2018, 7:51:12 PM
    Author     : rodrigo
*/
body{
    background-color: rgb(240,240,240);
}

.column {
    max-width: 450px;
}

body > .grid {
    height: 100%;
}